.beer{

    background-color:#fabada;
    display: wrap;
    justify-content: space-around;
    width: 50%;
    margin-left: 50px;
}

button{

    margin-bottom: 30px;
    background-color: yellowgreen;
  
    
}